body {
  background-image: url(/images/background.png);
  /*background-repeat: no-repeat;*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;

  margin: 0 auto;
  padding: 20px;
}

.cursor {
  height: 110px;
  width: 100px;
  top: 100px;
  left: 100px;
  position: absolute;
  background-image: url(/images/hammer.png);
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform 0.1s;
}
.active {
  transform: translate(-20%, -20%) rotate(-45deg);
}

#board div {
  width: 180px;
  height: 180px;
  background-image: url(../images/hole.png);
  background-size: contain;
}
