body {
  background-image: url(/images/background.png);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
  background-color: aqua;
  margin: 0 auto;
}

.cursor {
  height: 110px;
  width: 100px;
  top: 100px;
  left: 100px;
  position: absolute;
  background-image: url(/images/hammer.png);
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform 0.1s;
}
.cursor .active {
  transform: translate(-20%, -20%) rotate(-45deg);
  background-color: black;
}
