body {
  /*background-repeat: no-repeat;*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  overflow: hidden;
  z-index: -10;
}
.container {
  background-image: url(/images/background.png);
  overflow: hidden;
  z-index: -10;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
  margin: 0 auto;
  padding: 20px;
}

.cursor {
  height: 110px;
  width: 100px;
  top: 100px;
  left: 100px;
  position: absolute;
  background-image: url(/images/hammer.png);
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform 0.1s;
  pointer-events: none;
}
.active {
  transform: translate(-20%, -20%) rotate(-45deg);
}

.board div {
  width: 180px;
  height: 180px;
  background-image: url(../images/hole.png);
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.moleImg,
.moleHitImg {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* animation: raise 0.9s ease-in-out; */
}
@keyframes raise {
  0% {
    transform: translateX(-50%) translateY(100%);
  }

  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
/* .board .hole img {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);


    animation: raise 0.3s ease-out;
}
@keyframes raise {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
} */
h1 {
  padding-top: 20px;
  margin-bottom: 0px;
}
.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  gap: 15px;
}
.timeTitle,
.score-container .scoreTitle {
  margin-bottom: 0px;
}
